body {
  background-color: blue;
}

/* this is header */
header {
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}
header img {
  max-width: 115px;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  justify-content: center;
  align-items: center;
}
header ul li {
  font-size: 16px;
}
.contact {
  background-color: #ffff;
  color: #171717;
  width: 160px;
  height: 55px;
  border-radius: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
}
